# Vercel environment variable. Do not include a trailing slash.
VITE_API_URL=https://yourusername.pythonanywhere.com/api/v1
VITE_GOOGLE_CLIENT_ID=729937153109-6e8fivp20b3ri2qsah1d6u2a7oi0uls6.apps.googleusercontent.com
